body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
    color: rgb(151, 22, 108);
}

textarea {
    width: 98%;
    height: 350px;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}
#title{
    text-align: center;
    margin-left: 400px;
}
#submit{
    margin-left: 475px;
}

#edit{
    width: 50px;
    height: 50px;
    margin-left: 95%;
}
